$padding_header: 5px 10px;
$border_bottom_header: 1px solid black;

.calendar__absolute {
  position: relative;
}

.calendar__wrapper {
  display: none;
  z-index: 2;
  position: absolute;
  width: 100%;

  &.show {
    display: flex;
  }

  .calendar__header {
    width: 100%;
    background-color: gray;

    .calendar__headerMonthChange {
      display: flex;
      border-bottom: $border_bottom_header;
      padding: $padding_header;
  
      .calendar__headerMonthYear {
        flex: 1;
        text-align: center;
      }
    }

    .calendar__headerDayOfTheWeek {
      display: table;
      width: 100%;
      padding: $padding_header;
      border-bottom: $border_bottom_header;

      .calendar__day {
        display: table-cell;
        text-align: center;
      }
    }
  }

  
}