.inputInvoiceTemplate__wrapper {
  display: flex;
  flex-direction: column;
  text-align: initial;

  .inputInvoiceTemplate__label {
    font-size: 1.1rem;
    font-weight: 600;
    color: #112827;
    text-transform: capitalize;
    margin-bottom: 0.3rem;

    .inputInvoiceTemplate__isRequired {
      color: red;
    }
  }

  .inputInvoiceTemplate__input {
    background-color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-bottom: 0.5rem;
    border: none;

    &:focus {
      outline: none;
    }
  }
}


@media screen and (min-width: 768px) {
  .inputInvoiceTemplate__input {
    margin-bottom: 2rem !important;    
  }
}