.app {
  width: 100%;
  margin: 1.25rem auto;
  padding: 1.25rem;
  background: white;
  max-width: 576px;
}

/* medium size page */
@media screen and (min-width: 768px) {

}

/* large size page */
@media screen and (min-width: 1024px) {
  .app {
    max-width: 896px;
  }
}

/* xl size page */
@media screen and (min-width: 1280px) {
  .app {
    max-width: 1024px;
  }
}
